{% load static %}

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-4">
            <h4>Adres</h4>
            <p>Özel MOSB Mesleki ve Teknik Anadolu Lisesi
                Keçiliköy Mahallesi İsmail Tiryaki Caddesi No:12
                
              <br>Yunusemre / MANİSA</p>
          </div>
          <div class="footer-col col-md-4">
            <h4>Sosyal Medya</h4>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="https://www.facebook.com/MOSTEMLisesi/" target="_blank">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="https://www.youtube.com/channel/UCHKE0269A8lxkEpfLM_f2gQ/videos" target="_blank">
                  <i class="fa fa-fw fa-youtube"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="https://www.linkedin.com/company/16247653/" target="_blank">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-4">
            <h4>Yararlı Linkler</h4>
            <a class="links" href="http://www.meb.gov.tr/" target="_blank">Milli Eğitim Bakanlığı</a><br>
            <a class="links" href="http://www.manisa.gov.tr/" target="_blank" >Manisa Valiliği</a><br>
            <a class="links" href="http://www.mosb.org.tr/" target="_blank" >Manisa Organize Sanayi</a><br>
            <a class="links" href="https://e-okul.meb.gov.tr/logineokul.aspx" target="_blank" >E-Okul Veli Bilgilendirme Sistemi</a><br>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12"> Tüm Hakları Saklıdır © 2012 – 2018</div>
        </div>
      </div>
    </div>
  </footer>