{% load static %}

<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse" style="background-color: #3F3F3F;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <a class="navbar-brand" href="#">MostemMEZUN</a>
    <div class="collapse navbar-collapse justify-content-end"  id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item hvr-buzz-out">
          <a class="nav-link" href="{% url 'main' %}">Ana Sayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item hvr-buzz-out">
          <a class="nav-link" href="http://www.mostem.k12.tr/" target="_blank">Mostem</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Panel
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'mezun' %}">Mezun</a>
              <a class="dropdown-item" href="{% url 'yonetici' %}">Yönetici</a>
            </div>
          </li>

        <li class="nav-item">
          <a class="nav-link hvr-buzz-out" href="{% url 'contact' %}">İletişim</a>
        </li>
        
      </ul>
    </div>
</div>
</nav>