{% extends 'base.html' %}
{% load static %}


{% block title %} Yönetici Giriş - MostemMEZUN {% endblock %}

{% block body %}

<div class="container" style="margin-top:60px; margin-bottom:80px;">
    
        <div class="row">
    
            <div class="col-sm-6"  style="margin-bottom:60px;">
                    
                    <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-center">
                                <h2>Online CV Oluştur</h2>
                                <hr>
                                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Oluştur</button>
                            </div>
                        </div>

                
            </div>        
    
    
    
            <div class="col-md-6">
               
                    <form class="form-horizontal" role="form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 text-center">
                                    <h2>Mezun Giriş</h2>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="sr-only" for="username">Kullanıcı Adınız</label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon" style="width: 2.6rem; background-color:#3F3F3F;"><i class="fa fa-user" style="color:white;"></i></div>
                                            <input type="text" name="username" class="form-control" id="username"
                                                   placeholder="Kullanıcı Adınız" required autofocus>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="password">Şifreniz</label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon" style="width: 2.6rem; background-color:#3F3F3F;"><i class="fa fa-key" style="color:white;"></i></div>
                                            <input type="password" name="password" class="form-control" id="password"
                                                   placeholder="Şifreniz" required>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                            <div class="row" style="padding-top: 1rem">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 text-center">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Giriş Yap</button>
                                </div>
                            </div>
                        </form>
                   
                </div>  
    
            </div>
    
        </div>
    
    </div>


{% endblock %}