body{
  font-family: "Bariol";
}

.nav-item{
  padding-left: 20px;
}

.nav-link{
  color:#EEEEEE !important;
}

#navbarDropdownMenuLink:hover{
  color: #3F3F3F !important;
  border-radius: 10px;
  background-color: #EEEEEE !important;
  transition: 0.3s;
}

hr.star-light,
hr.star-primary {
  max-width: 650px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px; }

.img-centered {
  margin: 0 auto; }

  
header.masthead {
  padding-top: 20px;
  height: 500px;
  box-shadow: 0px 15px 17px -6px rgba(0,0,0,0.59);
  padding-bottom: 50px;
  text-align: center;
  color: #222831;
  margin-bottom: 4rem;
  background: #F2F2F2; }
  header.masthead img {
    display: block;
    padding-bottom: 10px;
    margin: 0 auto 20px; }
  header.masthead .intro-text .name {
    font-size: 1em;
    font-weight: 700;
    display: block;
    text-transform: uppercase; }
  header.masthead .intro-text .skills {
    font-size: 1em;
    font-weight: 300; }

@media (min-width: 768px) {
  header.masthead {
    padding-top: 50px;
    padding-bottom: 100px; }
    header.masthead .intro-text .name {
      font-size: 2.75em; }
    header.masthead .intro-text .skills {
      font-size: 1.25em; } }
  
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  

  footer {
    color: white; }
    footer h3 {
      margin-bottom: 30px; }
    footer .footer-above {
      padding-top: 50px;
      background-color: #3F3F3F; }
    footer .footer-col {
      margin-bottom: 60px; }
    footer .footer-below {
      padding: 25px 0;
      background-color: #3F3F3F; }

      .btn-social {
        font-size: 20px;
        line-height: 45px;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        color: white;
        border: 2px solid white;
        border-radius: 100%; }

        .btn-social:hover{
          color: #393E46;
          background-color: white;
          transition: 0.5s;
        }
      
      .btn.active,
      .btn:active,
      .btn:focus {
        outline: none; }
  

.links{
  color:white;
  font-weight: 400;
  font-family: "Bariol";
}
  

.links:hover{
  color: #47D2E9;
  transition: 0.3s;
  text-decoration: none;
}
  