{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {# Title #}
    <title>{% block title %}MostemMEZUN{% endblock %}</title>

    {# CSS Files#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">



</head>


<body>
    {# Header Kısmı#} 
    {% include 'staticpages/header.html' %} 
    
    {# Messages Kısmı#}
     {% include 'messages.html' %}
     
     {% block body %}

        {% block content %}
        {# Content #}
        {% endblock %}
     {% endblock %}

     {% block footer %}
     {% include 'staticpages/footer.html' %} 
     {% endblock %}
     {# Script Files#}
    
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jQuery.scrollSpeed.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/holder.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>


    {# Smoot Scrool Script #}
    <script>
        // $fn.scrollSpeed(step, speed, easing);
        jQuery.scrollSpeed(100, 800);
    </script>

</body>

</html>