{% extends 'base.html' %}
 {% load static %} 
 
 {% block title %}İletişim {% endblock %} 
 
{% block body %}
<div class="container" style="margin-top:50px; margin-bottom:60px;">

    <div class="row">

        <div class="col-sm-6">

            <h1 style="margin-bottom:15px;">İletişim Formu </h1>

            <!-- We're going to place the form here in the next step -->
            <form id="contact-form" action="/contact_post/" method="post" role="form">
                {% csrf_token %}
                <div class="messages"></div>

                <div class="controls">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <i class="fa fa-user"></i> <label for="form_name">Adınız *</label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Adınızı Giriniz *" required="required" data-error="Adınız gerekli...">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <i class="fa fa-user"></i> <label for="form_lastname">Soyadınız *</label>
                                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Soyadınızı Giriniz *" required="required"
                                    data-error="Soyadınız gerekli...">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <i class="fa fa-envelope"></i> <label for="form_email">Email *</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Email adresinizi giriniz *" required="required"
                                    data-error="Doğrulama için email gerekli...">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <i class="fa fa-phone"></i> <label for="form_phone">Telefon Numaranız</label>
                                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Telefon numaranızı giriniz">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <i class="fa fa-comment"></i> <label for="form_message">Mesajınız *</label>
                                <textarea id="form_message" name="message" class="form-control" placeholder="Mesajınız... *" rows="4" required="required"
                                    data-error="Lütfen bir mesaj yazınız."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send" value="Gönder">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted" style="margin-top:25px;"><strong>*</strong> Yıldızlı alanlar doldurulması şart alanlardır.</p>
                        </div>
                    </div>
                </div>

            </form>

        </div>


        <div class="col-md-6">
            <div class="container">
                <div class="row-fluid">

                    <div class="span4">

                        <h2>Adres Bilgileri</h2>
                        <address>
                            Organize Sanayi Bölgesi<br> İsmail Tiryaki Caddesi No:12 Manisa, 45000<br>
                            <br>
                            <i class="fa fa-phone"></i> Telefon: (0236) 213 12 51<br>
                            <br>
                            <i class="fa fa-envelope"></i> Email: mostem@mostem.k12.tr<br>
                            <br>
                            <i class="fa fa-fax"></i> Fax: 0236 2131250
                        </address>
                    </div>

                    <div class="span8">
                        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2204.048042188245!2d27.33008471426569!3d38.62600451767979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b983109ba06c19%3A0xa4eee967b1dfbfe4!2s%C3%96zel+Manisa+Organize+Sanayi+B%C3%B6lgesi+Mesleki+ve+Teknik+Anadolu+Lisesi!5e0!3m2!1str!2str!4v1504561016695"></iframe>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}