{% extends 'base.html' %}
{% load static %}

{% block title %} Ana Sayfa -  MostemMezun {% endblock %}


{% block body %}

 <!-- Header -->
 <header class="masthead">
  <div class="container">
    <img class="img-fluid" src="{% static 'img/logo-min.png' %}" alt="" width="200" height="150">
    <div class="intro-text">
      <span class="name" style="font-size:45px;">Mostem MEZUN </span>
      <hr class="star-light">
      <span class="skills" style="font-size:25px;">Mezun Sistemi Projesi</span>
    </div>
  </div>
</header>


  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'img/logocircle.png' %}"  width="140" height="140">
        <h2>Başlık</h2>
        <p>Açıklama kısmı</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'img/logocircle.png' %}" width="140" height="140">
        <h2>Başlık</h2>
        <p>Açıklama kısmı</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'img/logocircle.png' %}"  width="140" height="140">
        <h2>Başlık</h2>
        <p>Açıklama kısmı</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Her Mezun Olan Öğrencimize <span class="text-muted"><b>Mezun Kartı</b></span></h2>
        <p class="lead">Mezun Kartınızı almak için Öğrenci İşlerine Başvurmanız Yeterli Olacaktır.
          Mezun Kartı Üzerinde Sizin Adınıza Oluşturulan Özel Şifreniz Ve Kullanıcı Adınız Mevcut Olacaktır.
          Bu Bilgiler İle Sisteme Giriş Yapabileceksiniz.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">İş İlanları <span class="text-muted"><b>Mezun Oldum İşsizim Derdi Yok! </b></span></h2>
        <p class="lead">MostemMEZUN sayesinde mezun olan öğrencilerimiz CV Dosyalarını oluşturarak iş aramaya yada işin onları bulmasını bekleyebiliyorlar.</p>
      </div>
      <div class="col-md-5 pull-md-7">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'img/is_ilan.jpg' %}" width="500" height="300" alt="MostemMEZUN İş İlanları">
      </div>
    </div>

    <hr class="featurette-divider">

  </div><!-- /.container -->





{% endblock %}
